server:
  port: 8085


camunda:
  bpm:
    client:
      base-url: http://localhost:8080

spring:
  application:
    name: documentmanager

  datasource:
    url: jdbc:h2:file:./data/documentmanager;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    format-sql: true
    properties:
      hibernate:
        use_sql_comments: true
    defer-datasource-initialization: true

logging:
  level:
    org.springframework.web: DEBUG
    tech.yildirim.camunda.documentmanager: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
